<div class="text-center">
	<h1>Filter your family tree!</h1>
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-4">
				<h3>Persons not for analysis</h3>
				<div style="height: 486px; overflow: auto">
					<ul class="list-group">
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
					</ul>
				</div>
				<br />
				# persons in tree: <%= @individuals %>
				<br />
				# families in tree: <%= @families %>
			</div>
			<div class="col-md-4">
				<div class="row">
					<h3>Filter</h3>
					<form class="form-inline filters">
						<div class="input-group">
							<span class="input-group-addon bordered height-35px">
							<input type="radio">
							</span>
							<span class="input-group-addon">
							All
							</span>
						</div>
						<div class="input-group">
							<span class="input-group-addon">
							<input type="checkbox">
							</span>
							<span class="input-group-addon no-border-right">
							Firstname
							</span>
							<input type="text" class="form-control">
						</div>
						<div class="input-group">
							<span class="input-group-addon">
							<input type="checkbox">
							</span>
							<span class="input-group-addon no-border-right">Lastname</span>
							<input type="text" class="form-control">
						</div>
						<div class="input-group">
							<span class="input-group-addon">
							<input type="checkbox">
							</span>
							<span class="input-group-addon no-border-right">Occupation</span>
							<input type="text" class="form-control">
						</div>
						<div class="input-group">
							<span class="input-group-addon">
							<input type="checkbox">
							</span>
							<span class="input-group-addon no-border-right">Location: Birth</span>
							<input type="text" class="form-control">
						</div>
						<div class="input-group">
							<span class="input-group-addon">
							<input type="checkbox">
							</span>
							<span class="input-group-addon no-border-right">Location: Marriage</span>
							<input type="text" class="form-control">
						</div>
						<div class="input-group">
							<span class="input-group-addon">
							<input type="checkbox">
							</span>
							<span class="input-group-addon no-border-right">Location: Death</span>
							<input type="text" class="form-control">
						</div>
						<div class="input-group">
							<span class="input-group-addon">
							<input type="checkbox">
							</span>
							<span class="input-group-addon no-border-right">Location: Burial</span>
							<input type="text" class="form-control">
						</div>
						<div class="input-group">
							<span class="input-group-addon">
							<input type="checkbox">
							</span>
							<span class="input-group-addon no-border-right">Time: Birth</span>
							<input type="text" class="form-control">
						</div>
						<div class="input-group">
							<span class="input-group-addon">
							<input type="checkbox">
							</span>
							<span class="input-group-addon no-border-right">Time: Marriage</span>
							<input type="text" class="form-control">
						</div>
						<div class="input-group">
							<span class="input-group-addon">
							<input type="checkbox">
							</span>
							<span class="input-group-addon no-border-right">Time: Death</span>
							<input type="text" class="form-control">
						</div>
						<div class="input-group">
							<span class="input-group-addon">
							<input type="checkbox">
							</span>
							<span class="input-group-addon no-border-right">Time: Burial</span>
							<input type="text" class="form-control">
						</div>
					</form>
					<button type="button" class="btn btn-primary text-center btn-lg" style="margin-left: 8px;">&laquo;</button>
					<button type="button" class="btn btn-primary text-center btn-lg">&raquo;</button>
				</div>
			</div>
			<div class="col-md-4">
				<h3>Persons for analysis</h3>
				<div style="height: 452px; overflow: auto">
					<ul class="list-group">
						<li class="list-group-item">Filter</li>
						<li class="list-group-item">Filter</li>
						<li class="list-group-item">Filter</li>
						<li class="list-group-item">Filter</li>
						<li class="list-group-item">Filter</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-lg btn-primary">Start analysis</button>
</div>