<div class="text-center">
	<h1>Filters
		<br />
		<small>
			Filter your family tree!
		</small>
	</h1>
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-4">
				<div style="height: 452px; overflow: auto">
					<ul class="list-group">
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
						<li class="list-group-item">Person</li>
					</ul>
				</div>
				<br />
				# persons in tree: 123
				<br />
				# persons filtered: 142
			</div>

			<div class="col-md-4">
				<div style="height: 452px; overflow: auto">
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							Select a Filter <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">First name</a></li>
							<li><a href="#">Last name</a></li>
							<li><a href="#">Occupation</a></li>
							<li><a href="#">Location: Birth</a></li>
							<li><a href="#">Location: Marriage</a></li>
							<li><a href="#">Location: Death</a></li>
							<li><a href="#">Location: Burial</a></li>
							<li><a href="#">Time: Birth</a></li>
							<li><a href="#">Time: Marriage</a></li>
							<li><a href="#">Time: Death</a></li>
							<li><a href="#">Time: Burial</a></li>
							<li><a href="#">Relatives </a></li>
						</ul>
					</div>
					<br />
					...
					<br />
					<button type="button" class="btn btn-success">+</button>
					<br />
					<br />
					<button type="button" class="btn btn-default">Add filter</button>
				</div>
			</div>

			<div class="col-md-4">
				<div style="height: 452px; overflow: auto">
					<ul class="list-group">
						<li class="list-group-item">Filter</li>
						<li class="list-group-item">Filter</li>
						<li class="list-group-item">Filter</li>
						<li class="list-group-item">Filter</li>
						<li class="list-group-item">Filter</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-lg btn-primary">Start analysis</button>
</div>