@import "bootstrap";

/* mixins, variables, etc. */

/* universal */

/*flash*/


body {
  padding-top: 60px; /* caused by bootstrap navbar */
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.align-block-to-button {
  display: inline-block;
  vertical-align: middle;
  padding: 13px;
}

/* typography */

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2, h3 {
  margin-top: 10px 0 14px 0 !important;
  text-align: center;
}

.jumbotron {
  padding: 10px 60px;
  margin-bottom: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.navbar-inverse .navbar-brand {
  color: #ddd;
  font-weight: bold;
  padding-left: 0;
  text-transform: uppercase;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 15px;
  padding-top: 5px;
  border-top: 1px solid $gray-lighter;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* filters */
.form-inline .input-group {
  display: table;
}

.form-inline .input-group-addon + .input-group-addon {
  width: 144px;
  text-align: left;
}

.no-border-right {
  border-right: 0;
}

.form-inline .input-group {
  margin-bottom: 7px;
}

.form-inline .input-group-addon.bordered {
  border-right: 1px solid #cccccc;
}

#family-tree-analyzer .height-35px {
  height: 35px;
}
