@import "bootstrap";

/* mixins, variables, etc. */

/* universal */

/*flash*/


body {
  padding-top: 60px; /* caused by bootstrap navbar */
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.align-block-to-button {
  display: inline-block;
  vertical-align: middle;
  padding: 13px;
}

.margin-bottom {
  margin-bottom: 1em;
}

.container .vertical-align-middle {
  vertical-align: middle;
}

#loading {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10000;
}

.loading-animation {
  background-image: image-url("loading.gif");
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  position: fixed;
}

/* typography */

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2, h3 {
  margin-top: 10px 0 14px 0 !important;
  text-align: center;
}

.jumbotron {
  padding: 10px 60px;
  margin-bottom: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.data-table-condensed .dataTables_wrapper .dataTables_paginate,
.data-table-condensed .dataTables_wrapper .dataTables_info {
  font-size: 12px;
  text-align: left;
  float: none;
  clear: both;
}

.data-table-condensed .dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.4em;
  min-width: 2.0em;
}

/*
.data-table-condensed .dataTables_wrapper .paginate_button.previous {
  padding-left: 0;
  margin-left: 0;
}

.data-table-condensed .dataTables_wrapper .paginate_button.next {
  padding-right: 0;
  margin-right: 0;
}
*/

/* header */

.navbar-inverse .navbar-brand {
  color: #ddd;
  font-weight: bold;
  padding-left: 0;
  text-transform: uppercase;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 15px;
  padding-top: 5px;
  border-top: 1px solid $gray-lighter;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* filters */
.form-inline .input-group {
  display: table;
}

.form-inline .input-group-addon + .input-group-addon,
.filter-label-size {
  width: 144px;
  text-align: left;
}

.no-border-right {
  border-right: 0;
}

.form-inline .input-group {
  margin-bottom: 7px;
}

.form-inline .input-group-addon.bordered {
  border-right: 1px solid #cccccc;
}

#family-tree-analyzer .height-35px {
  height: 35px;
}

.modal-lg {
  width: 1350px;
}

.no-border-radius {
  border-radius: 0;
}

.container .jumbotron-condensed {
  padding-left: 1em;
  padding-right: 1em;
}